@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body,
html {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	background-size: cover;

	/* background-color: #FFCE1A; */
	height: 100%;
	font-weight: 700;
}

.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.login-form {
	height: 500px;
	width: 430px;
	padding: 0 35px;
	background-color: #ffce1a;
	border: none;
	border-radius: 1rem;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input[type="email"],
input[type="password"] {
	border-radius: 20px;
	border: 2px solid rgb(221, 218, 218);
}

.btn-login {
	height: 35px;
	border-radius: 20px;
	font-weight: 700;
}

.link {
	color: #198754;
	text-decoration: none;
}

.link:hover {
	color: #198754;
	text-decoration: none;
}

.btn-Gmail {
	height: 35px;
	border: 2px solid rgb(221, 218, 218);
	border-radius: 20px;
	font-weight: 700;
}

.img-google {
	height: 20px;
	width: 20px;
}
